body{
/*    background-color: #f3f3f3;*/
    background: url(img/front2.jpg);
    font-family: arial;
}

.article-container {
    width : 900px;
    background-color: bisque;
    padding: 30px;
}

.article-box{
    padding-bottom: 30px;
    width: 100%;
}

input {
    padding: 0px 20px ;
    width: 300px ;
    height: 40px;
    font-size: 22px;
}

button{
    widows: 100px;
    height: 44px;
    font-size: 22px;
}

h1{
    color: rgb(213, 216, 42);
}

h2{
    color: sienna;
}